/* == styles for index page == */
/* frame */
#frame-index {
    height:27.5vh;
    min-height: 150px;
}


/* center-figure */
#center-figure {
    text-align: center;
}

#center-figure img {
    width: 37.5%;
    min-width: 420px;
    height: auto;
    display: inline;
    margin: 0 auto;
}

#center-figure figcaption {
    padding-top: 0.5em;
}


/* media queries*/
@media (max-width:768px) {
    #frame-index {
        min-height: 150px;
    }
    #center-figure {
        margin-top: 50px;
    }
}

@media (max-width:475px) {
    #center-figure img {
        min-width: 300px;
    }
}