/* == styles for projects page == */
/* frame */
#frame-projects {
    height:32vh;
    min-height: 130px;
}

/* project menu */
#project-menu {
    width:430px;
    background-color: #dbdfe6;
    padding: 3em 0;
}

#project-menu nav {
    display: inline;
    float: none;
    text-align: center;
}

#project-menu .left {
    padding-right: 100px;
}

#project-menu .right {
    padding-left: 100px;
}


/* media queries*/
@media (max-width:768px) {
    #frame-projects {
        min-height: 200px;
    }
    #project-menu {
        width:370px;
        padding: 1.5em 0;
    }
}

@media (max-width:475px) {
    #project-menu {
        width:90%;
    }
}

@media (max-width:340px) {
    #project-menu {
        width:90%;
    }
    #project-menu .left, #project-menu .right {
        padding-left: 0;
        padding-right: 0;
    }
}
