#main-container {
    max-width: 960px;
}

iframe {
    width: 80vw;
    height: 50vw;
    border: none;
    padding-bottom: 25px;
}

h1 {
    font-size: 6px;
}

.sub-text {
    max-width: 800px;
}

.home-button {
    text-decoration: none;
    color: #20C20E;
    font-style: normal;
}

.home-button:hover {
    color: #20DF0F;
}

@media (max-width: 800px) {
    h1 {
        font-size: 5px;
    }
}

@media (max-width: 680px) {
    h1 {
        font-size: 4px;
    }
}

@media (max-width: 590px) {
    h1 {
        font-size: 3px;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 3px;
    }
}

