@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');


body {
    font-family: 'Fira Code', monospace; 
    font-feature-settings: "calt" 1;  /* Enable ligatures for programming */

    background-color: #7ba2ca;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}
.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
}
.panel {
    background-color: #c0c0c0;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 10px 10px 0 #606060;
}

.panel-inner {
    border: 2px solid #999;
    padding: 20px;
    margin: 3px;
}
.sidebar {
    padding: 20px;
    width: 200px;
    margin-right: 20px;
}
.content {
    padding: 20px;
    flex-grow: 1;
    border: 2px solid #999;
}

h1, h2 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo {
    font-size: 2px;
    line-height: 1;
    white-space: pre;
    font-family: monospace;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.menu {
    list-style-type: none;
    padding: 0;
}
.menu li {
    margin-bottom: 10px;
}
.menu a {
    color: #8b0000;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
.menu a:hover {
    background-color: #8b4545;
    color: #e0e0e0;
}
.menu-separator {
    border-top: 1px solid #999;
    margin: 10px 0;
}

.retro-text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}