@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-feature-settings: "calt" 1; /* Enable ligatures for programming */
    line-height: 1.6;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0;
}

.container {
    display: flex;
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 100px;
}

.panel {
    padding: 10px;
    position: relative;
}

.outline {
    border: 2px solid #fff;
}

.title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a1a;
    padding: 0 10px;
}

.content .title {
    left: 10%;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 5px;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 3px 7px;
}

#contact .menu li a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#contact .menu ul:last-child {
    margin-bottom: 0px;
}

#contact .menu li a .label {
    width: 90px; /* Adjust based on your longest label */
    text-align: left;
    padding-right: 10px;
}

#contact .menu li a .dots {
    flex: 1;
    height: 1em;
    background-image: radial-gradient(
        circle,
        currentColor 2px,
        transparent 2px
    );
    background-size: 12px 12px; /* Increased dot size and spacing */
    background-repeat: repeat-x;
    background-position: center;
    margin: 0 10px;
}

#contact .menu li a .value {
    width: 300px; /* Adjust based on your longest value */
    text-align: left;
}

#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    display: none;
    z-index: 1000;
}

hr {
    background-color: #fff;
    height: 2px;
    border: none;
}

.menu hr {
    margin-left: -10px;
    margin-right: -10px;
}

.menu a:hover {
    background-color: #fff;
    color: #1a1a1a;
}

.sidebar {
    max-width: 200px;
    margin-right: 20px;
    max-height: 200px;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: none;
    min-height: 180px;
}

h1,
h2 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pfp-container {
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center; /* Add align-items to center the children horizontally */
    margin-bottom: 20px;
}

.pfp-container h2 {
    padding: 10px;
}

img {
    max-width: 200px;
    border: 2px solid #fff;
    height: auto;
}

.retro-text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

.active {
    display: block;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.list-title {
    color: #fff;
    margin-bottom: 5px;
}
.list-title a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 3px 7px;
}
.list-title a:hover {
    background-color: #fff;
    color: #1a1a1a;
}

.list hr {
    margin-left: -40px;
    margin-right: -40px;
}

.list-description {
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.list-meta {
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
}
.list-date {
    font-style: italic;
}
.list-tags {
    margin-left: 10px;
}
.list-tag {
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #fff;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
